<div class="container">
	<ul>
		<li ng-repeat="product in main.products">
			<form name='product-list-form' ng-submit="main.updateProduct(product)">
				<input type="text" ng-model="product.Name" />
				<input type="text" ng-model="product.Description" />
				<input type="number" ng-model="product.Price" />
				<label>In Stock</label> <input type="checkbox" ng-model="product.InStock"/>
				<button type="submit" ng-disabled="product-list.$pristine" >Update</button>
				<button type="button" ng-click="main.deleteProduct(product.Name)" >X</button>
			</form>
		</li>
	</ul>
	<form name='add-prodouct-form' ng-submit="main.addProduct()" novalidate>
		<input type="text" ng-model="main.productToAdd.Name" placeholder="Name" required />
		<input type="text" ng-model="main.productToAdd.Description" placeholder="Description" required />
		<input type="number" ng-model="main.productToAdd.Price" placeholder="Price" required />
		<label>In Stock</label> <input type="checkbox" ng-model="main.productToAdd.InStock" />
		<button type="submit" value="Add" ng-disabled="add-prodouct-form.$invalid">Add</button>
	</form>
</div>